<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>お見積り情報入力</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{http://fonts.googleapis.com/css?family=Exo:900}"
        href="http://fonts.googleapis.com/css?family=Exo:900"/>
  <link rel="stylesheet" th:href="@{/css/main.css}" href="../static/css/main.css">
</head>

<body>
  <nav th:insert="header.html :: header"></nav>
<div class="container">
  <form th:action="@{/submit}" th:object="${userOrderForm}" class="form-horizontal" method="post">
    <h1>重なる分</h1>
    <h1>お見積り情報入力</h1>
    <div th:if="${#fields.hasErrors('all')}">
      <h2 style="color:red; font-weight: bold;">エラー入力があります。修正してください。</h2>
    </div>
    <small>　転居元住所と転居先住所間の距離、お荷物の情報を元に、簡易お見積もりを行います</small>
    <br>
    <div class="col-sm-12">
      <fieldset>
        <legend>個人情報</legend>
        <!--<div class="form-group">-->
        <div class="form-group" th:classappend="${#fields.hasErrors('customerName')}? 'has-error'">
          <label for="customerName">氏名</label>
          <input type="text" autocomplete="name" id="customerName" name="customerName" th:field="*{customerName}" class="form-control" value="山田太郎" placeholder="山田太郎"/>
          <span style="color:red" th:each="err : ${#fields.errors('customerName')}" th:text="${err}"></span>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('tel')}? 'has-error'">
          <label for="tel">連絡先TEL</label>
          <input type="tel" autocomplete="tel-area-code" id="tel" name="tel" th:field="*{tel}" class="form-control" value="03-1234-5678" placeholder="0312345678"/>
          <span style="color:red" th:each="err : ${#fields.errors('tel')}" th:text="${err}"></span>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
          <label for="email">連絡先メールアドレス</label>
          <input type="text" autocomplete="email" id="email" name="email" th:field="*{email}" class="form-control" value="test@test.com" placeholder="test@test.com"/>
          <span style="color:red" th:each="err : ${#fields.errors('email')}" th:text="${err}"></span>
        </div>
        <label ><span style="font-weight:bold">転居元住所</span></label>
        <div class="group" th:classappend="${#fields.hasErrors('oldPostal')}? 'has-error'">
          <label for="oldPostal">郵便番号</label>
          <script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
          <input type="text" autocomplete="postal-code" id="oldPostal" name="oldPostal" th:field="*{oldPostal}" class="form-control" value="0001111" placeholder="0001111" onKeyUp="AjaxZip3.zip2addr(this,'','oldPrefectureId','oldAddress','oldEtcAddress');"/>
          <span style="color:red" th:each="err : ${#fields.errors('oldPostal')}" th:text="${err}"></span>
        </div>
        <div class="group" th:classappend="${#fields.hasErrors('oldPrefectureId')}? 'has-error'">
          <label for="oldPrefectureId">都道府県</label>
          <select id="oldPrefectureId" name="oldPrefectureId" class="form-control">
            <option th:each="prefecture : ${prefectures}" th:value="${prefecture.prefectureId}" th:field="*{oldPrefectureId}">[[${prefecture.prefectureName}]]</option>
          </select>
          <span style="color:red" th:each="err : ${#fields.errors('oldPrefectureId')}" th:text="${err}"></span>
        </div>
        <div class="group" th:classappend="${#fields.hasErrors('oldAddress')}? 'has-error'">
          <label for="oldAddress">郡/市区町村</label>
          <input type="text" autocomplete="address-level2" id="oldAddress" name="oldAddress" th:field="*{oldAddress}"
                 class="form-control" value="新宿区" placeholder="例)新宿区"/>
          <span style="color:red" th:each="err : ${#fields.errors('oldAddress')}" th:text="${err}"></span>
        </div>
        <div class="group" th:classappend="${#fields.hasErrors('oldEtcAddress')}? 'has-error'">
          <label for="oldEtcAddress">以降の住所</label>
          <input type="text" autocomplete="address-level3" id="oldEtcAddress" name="oldEtcAddress" th:field="*{oldEtcAddress}"
                 class="form-control" value="西新宿1-1-1" placeholder="例)西新宿1-1-1"/>
          <span style="color:red" th:each="err : ${#fields.errors('oldEtcAddress')}" th:text="${err}"></span>
        </div>
        <label ><span style="font-weight:bold">転居先住所</span>></label>
        <div class="group" th:classappend="${#fields.hasErrors('newPostal')}? 'has-error'">
          <label for="newPostal">郵便番号</label>
          <script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
          <input type="text" autocomplete="postal-code" id="newPostal" name="newPostal" th:field="*{newPostal}" class="form-control" value="0001111" placeholder="0001111" onKeyUp="AjaxZip3.zip2addr(this,'','newPrefectureId','newAddress','newEtcAddress');"/>
          <span style="color:red" th:each="err : ${#fields.errors('newPostal')}" th:text="${err}"></span>
        </div>
        <div class="group" th:classappend="${#fields.hasErrors('newPrefectureId')}? 'has-error'">
          <label for="newPrefectureId">都道府県</label>
          <select id="newPrefectureId" name="newPrefectureId" class="form-control">
            <option th:each="prefecture : ${prefectures}" th:value="${prefecture.prefectureId}" th:field="*{newPrefectureId}">[[${prefecture.prefectureName}]]</option>
          </select>
          <span style="color:red" th:each="err : ${#fields.errors('newPrefectureId')}" th:text="${err}"></span>
        </div>
        <div class="group" th:classappend="${#fields.hasErrors('newAddress')}? 'has-error'">
          <label for="newAddress">郡/市区町村</label>
          <input type="text" autocomplete="address-level2" id="newAddress" name="newAddress" th:field="*{newAddress}" class="form-control"
                 value="札幌市" placeholder="例)札幌市"/>
          <span style="color:red" th:each="err : ${#fields.errors('newAddress')}" th:text="${err}"></span>
        </div>
        <div class="group" th:classappend="${#fields.hasErrors('newEtcAddress')}? 'has-error'">
          <label for="newEtcAddress">以降の住所</label>
          <input type="text" autocomplete="address-level3" id="newEtcAddress" name="newEtcAddress" th:field="*{newEtcAddress}" class="form-control"
                 value="南区1" placeholder="例)南区1"/>
          <span style="color:red" th:each="err : ${#fields.errors('newEtcAddress')}" th:text="${err}"></span>
        </div>
      </fieldset>
      <fieldset>
        <legend>荷物情報</legend>
        <div class="form-group-box" th:classappend="${#fields.hasErrors('box')}? 'has-error'">
          <label for="box">段ボールの個数</label>
          <input type="text" id="box" name="box" th:field="*{box}" class="form-control" value="10"/>
          <span style="color:red" th:each="err : ${#fields.errors('box')}" th:text="${err}"></span>
        </div>
        <div class="form-group-box" th:classappend="${#fields.hasErrors('bed')}? 'has-error'">
          <label for="bed">ベッドの個数</label>
          <input type="text" id="bed" name="bed" th:field="*{bed}" class="form-control" value="3"/>
          <span style="color:red" th:each="err : ${#fields.errors('bed')}" th:text="${err}"></span>
        </div>
        <div class="form-group-box" th:classappend="${#fields.hasErrors('bicycle')}? 'has-error'">
          <label for="bicycle">自転車の個数</label>
          <input type="text" id="bicycle" name="bicycle" th:field="*{bicycle}" class="form-control" value="1"/>
          <span style="color:red" th:each="err : ${#fields.errors('bicycle')}" th:text="${err}"></span>
        </div>
        <div class="form-group-box" th:classappend="${#fields.hasErrors('washingMachine')}? 'has-error'">
          <label for="washingMachine">洗濯機の個数</label>
          <input type="text" id="washingMachine" name="washingMachine" th:field="*{washingMachine}" class="form-control"
                 value="1"/>
          <span style="color:red" th:each="err : ${#fields.errors('washingMachine')}" th:text="${err}"></span>
        </div>
        <div class="form-group-box" th:classappend="${#fields.hasErrors('washingMachineInstallation')}? 'has-error'">
          <label for="washingMachineInstallation">洗濯機の設置工事申し込み</label>
          <select id="washingMachineInstallation" name="washingMachineInstallation" class="form-control" th:field="*{washingMachineInstallation}">
            <option th:value="false" th:text="なし">なし</option>
            <option th:value="true" th:text="あり">あり</option>
          </select>
          <span style="color:red" th:each="err : ${#fields.errors('washingMachineInstallation')}" th:text="${err}"></span>
        </div>
      </fieldset>
      <div class="form-group">
        <div class="text-center">
          <button type="submit" name="calculation" class="btn btn-primary">確認</button>
        </div>
      </div>
    </div>
  </form>
</div>
<script src="../js/jquery-3.4.1.min.js" th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script src="../js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
<script src="../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</body>

</html>